/**
 *
 * This css SECTION contains class definitions to override the original styling of the GRID plugin.
 * 
 */
.cyberbank-pg-input {
	font-size: 0.8em;
	height: 13px;
	margin: 0;
}

#loading-ajax-request {
	position: absolute;
	z-index: 100;
	margin-left: 50%;
	margin-top: -90px;
	display: none;
}

.grid-fieldset {
	border-width: 6px;
	background-color: #ddd
}

.label-grid{
	width: 160px;	
	display: inline-block;
}

.grid-legend {
	font-size: 1.4em;
}

.grid-search-button {
	margin-left: 13.6%;
}

/* Fixed height for date button (for IE6) */
.ui-datepicker-trigger.thin {
	height: 21px;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-left: 5px;
}
